<!-- This file will launch the AMCL (Adaptive Monte Carlo Localization) node with the parameters 
specified in the yaml file, together with the map_server node responsible for storing the generated 
map and the gmapping node responsible for mapping the environment-->

<launch>
    <arg name="scan_topic" default="/scan"/>

    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <rosparam file="$(find exploration_mapping)/param/gmapping_params.yaml" command="load"/>
        <remap from="laser" to="$(arg scan_topic)"/>
    </node>

</launch>
