<!-- This file will launch the find_object_2d node or any other 
script responsible for the perception side of the robot mission-->

<launch>

    <!-- Launch mapping package launch file -->
	<include file="$(find exploration_mapping)/launch/mapping_and_localization.launch"/>
	<include file="$(find exploration_perception)/launch/tf_launch.launch"/>

    <!-- Paths are lazy fixed to be absolute for my directory -->
    <arg name="gui"             default="true"/>
    <arg name="image_topic"     default="image"/>
    <arg name="objects_path"    default="/home/craig_ros/catkin_ws/src/rssp/exploration_perception/src/vision_data/objects"/> 
    <arg name="object_prefix"   default="object"/>
    <arg name="settings_path"   default="/home/craig_ros/catkin_ws/src/rssp/exploration_perception/src/vision_data/settings/Settings.ini"/>
    <arg name="subscribe_depth" default="true"/>
    <arg name="approx_sync"     default="true"/>
	<arg name="pnp"             default="true"/>
    
    <!-- These will be change to new faster topics -->
    <arg name="rgb_topic"         default="camera/rgb/image_rect_color"/>
	<arg name="depth_topic"       default="camera/depth_registered/image_raw"/>
	<arg name="camera_info_topic" default="camera/rgb/camera_info"/>

    <node name="find_object_3d" pkg="find_object_2d" type="find_object_2d" output="screen">
	    <param name="gui" value="$(arg gui)" type="bool"/>
	    <param name="settings_path" value="$(arg settings_path)" type="str"/>
	    <param name="subscribe_depth" value="$(arg subscribe_depth)" type="bool"/>
	    <param name="objects_path" value="$(arg objects_path)" type="str"/>
	    <param name="object_prefix" value="$(arg object_prefix)" type="str"/>
	    <param name="approx_sync" value="$(arg approx_sync)" type="bool"/>
	    <param name="pnp" value="$(arg pnp)" type="bool"/>
				
	    <remap from="rgb/image_rect_color" to="$(arg rgb_topic)"/>
	    <remap from="depth_registered/image_raw" to="$(arg depth_topic)"/>
	    <remap from="depth_registered/camera_info" to="$(arg camera_info_topic)"/>
	</node>
</launch>