    <!-- This file will launch all the necessary nodes, it is the main launch file-->
<launch>
    <!-- Launch mapping and sensor fusion localization-->
    <include file="$(find exploration_mapping)/launch/mapping_and_localization.launch"/>

    <!-- Launch perception-->
    <!--include file="$(find exploration_perception)/launch/perception.launch"/-->

    <!-- Launch move_base-->
    <include file="$(find exploration_navigation)/launch/move_base_launch.launch"/>

    <!-- Launch frontier exploration-->
    <include file="$(find exploration_main)/launch/exploration.launch"/>

    <!-- Launch rviz config file -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find exploration_main)/rviz/default.rviz"/>

    <!-- Launch main node -->
    <!--node pkg="exploration_main" type="main_exp.py" name="main_node" output="screen">
    </node-->

</launch>