<!-- This file will launches mapping nodes -->

<launch>
    <!-- Launches mapping package launch file -->
    <include file="$(find exploration_mapping)/launch/mapping_and_localization.launch"/>

     <!-- Launch personalised rviz configuration file for mapping only -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find exploration_main)/rviz/mapping_config.rviz"/>

</launch>