    <!-- This file will only launch the mapping and localization node-->
<launch>
    <!-- Launch mapping package launch file -->
    <include file="$(find exploration_mapping)/launch/mapping_and_localization.launch"/>

     <!-- Launch rviz config file -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find exploration_main)/rviz/mapping_config.rviz"/>

</launch>