    <!-- This file will only launch the perception node-->
<launch>

    <!-- Launch perception package launch file -->
    <include file="$(find exploration_perception)/launch/perception.launch"/>

     <!-- Launch rviz config file -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find exploration_main)/rviz/perception_config.rviz"/>

</launch>