    <!-- This file will only launch the perception node-->
<launch>

    <include file="$(find exploration_perception)/launch/perception.launch"/>

    <!-- add rviz starter by saving the configuration you want then go cd, cd .rviz, ls, and copy "cat savedfile.rviz" into .rviz file and load it from here -->

</launch>